#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3

/ {
    combos {
        compatible = "zmk,combos";

        scrollLayer {
            bindings = <&tog 3>;
            key-positions = <32 33>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <8 9>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <2 3>;
        };

        leftClick {
            bindings = <&mkp LCLK>;
            key-positions = <19 20>;
        };

        rightClick {
            bindings = <&mkp RCLK>;
            key-positions = <20 21>;
        };

        middleClick {
            bindings = <&mkp MCLK>;
            key-positions = <22 21>;
        };

        win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <31 32>;
        };

        insert {
            bindings = <&kp INSERT>;
            key-positions = <34 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&kp TAB       &kp Q               &kp W  &kp E         &kp R        &kp T           &kp Y           &kp U        &kp I         &kp O    &kp P                        &kp LEFT_BRACKET
&kp CAPSLOCK  &mt A LEFT_CONTROL  &kp S  &kp D         &kp F        &kp G           &kp H           &kp J        &kp K         &kp L    &mt RIGHT_CONTROL SEMICOLON  &kp SQT
&kp LSHFT     &kp Z               &kp X  &kp C         &kp V        &mt LEFT_ALT B  &mt LEFT_ALT N  &kp M        &kp COMMA     &kp DOT  &kp FSLH                     &kp RSHFT
                                         &kp LEFT_WIN  &lt 1 SPACE  &mo 2           &mo 2           &lt 1 SPACE  &kp LEFT_WIN
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&kp F1     &kp F2     &kp F3        &kp F4        &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&none      &kp N1     &kp N2        &kp N3        &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9   &kp N0   &kp PLUS
&kp LSHFT  &mkp MCLK  &kp C_VOL_DN  &kp C_VOL_UP  &none   &none   &none   &none   &none   &none    &none    &kp KP_DOT
                                    &none         &none   &none   &none   &none   &none
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &kp F10  &kp F11  &kp F12  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&sys_reset    &none         &kp F7   &kp F8   &kp F9   &out OUT_USB  &out OUT_USB  &none         &none         &none         &none         &sys_reset
&none         &none         &kp F4   &kp F5   &kp F6   &out OUT_BLE  &out OUT_BLE  &none         &none         &none         &none         &none
                                     &kp F1   &kp F2   &kp F3        &none         &none         &none
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none  &none  &none     &kp UP    &none      &none  &none  &none     &kp UP    &none      &none  &none
&none  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&none  &none  &none     &none     &none      &none  &none  &none     &none     &none      &none  &none
                        &none     &none      &none  &none  &none     &none
            >;
        };
    };
};
