# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_HATSU_RIGHT

config ZMK_KEYBOARD_NAME
    default "HATSU"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HATSU_LEFT || SHIELD_HATSU_RIGHT

config ZMK_SPLIT
    default y

endif
